There are a few important scenarios to keep in mind where malicious actors can be involved 
for this flow:
<ol class="smallFont">
    <% attacks.forEach(attack => { %>
        <li>
            <%- include(attack) %>
        </li>
    <% }); %>
</ol>