textarea {
    font-family: 'Menlo', 'Courier New', 'Courier';
    width: 100%;
    margin: 4px 0px 4px 0px;
    resize: none;
}
body {
    padding-top: 4.5rem;
}
.smallFont {
    font-size: 0.8em;
}
.note {
    font-size: 1.5rem;
}
.form-control {
    width: 40%;
}
.authdiagram {
    max-width: 1000px;
    /* max-width: 100%; */
}
p {
    font-size: smaller;
}
figcaption {
    font-size: small;
    font-style: italic;
    text-align: left;
}
small {
    font-size: 70%;
    position: relative;
    top: -10px
}

/* Adjustments for Bootstrap */

/* Container */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

