<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Salesforce OAuth - Explained</title>
        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link href="css/index.css" rel="stylesheet" />

        <link rel="icon" type="image/icon" href="Cloud Red.ico" />

        <script type="text/javascript" src="lib/jquery.js"></script>
        <script type="text/javascript" src="lib/jqueryCookies.js"></script>
        <script type="text/javascript" src="lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </head>

    <body class="container" onload="onload()">
        <!-- Navigation pane on top of page -->
        <% include index/nav.ejs %>

        <!-- Title and description -->
        <% include index/intro.ejs %>

        <!-- User Agent Flow -->
        <% include index/useragent.ejs %>

        <!-- Web Server Flow -->
        <% include index/webserver.ejs %>

        <!-- Refresh Token Flow -->
        <% include index/refresh.ejs %>

        <!-- JWT Bearer Assertion Flow -->
        <% include index/jwtbearer.ejs %>

        <!-- SAML Bearer Assertion Flow -->
        <% include index/samlbearer.ejs %>

        <!-- SAML Assertion Flow -->
        <% include index/samlassertion.ejs %>

        <!-- Device Flow -->
        <% include index/device.ejs %>

        <!-- Username / Password Flow -->
        <% include index/usernamepassword.ejs %>
    </body>
</html>
