<!DOCTYPE html>
<html lang="en">
    <head>
        <script type="text/javascript" src="lib/jquery.js"></script>
        <script type="text/javascript" src="lib/jqueryCookies.js"></script>
        <script type="text/javascript" src="lib/forcetk.js"></script>
        <script type="text/javascript" src="js/oauthcallback.js"></script>
    </head>
    <body onload="processCallback()">
        <h1>Extracting token...</h1>
        <h2 id="h2Message"></h2>
    </body>
</html>
