<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Salesforce OAuth - Explained - Query Result</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous"
        />
        <link href="css/queryresult.css" rel="stylesheet" />
        <link rel="icon" type="image/icon" href="Cloud Red.ico" />
        <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"
            integrity="sha256-0H3Nuz3aug3afVbUlsu12Puxva3CP4EhJtPExqs54Vg="
            crossorigin="anonymous"
        ></script>
        <script type="text/javascript" src="js/queryresult.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jsforce/1.9.1/jsforce.min.js"></script>
    </head>
    <body onload="onload()">
        <!-- Navigation bar -->
        <%- include('queryresult/nav.ejs') %>
        <!-- Query result page -->
        <%- include('queryresult/main.ejs') %>
    </body>
</html>
