<div class="p-5 mb-4 bg-light text-dark border rounded-3" id="<%= authFlow.id %>">
    <div class="card">
        <%- include('flowheader', {
            id: authFlow.id,
            title: authFlow.title, 
            image: authFlow.image, 
            protocol: authFlow.protocol,
            description: authFlow.description,
            user_input: authFlow.configuration.user_input
        }) %> 
        <%- include('flowbody', {
            id: authFlow.id,
            config: authFlow.configuration
        }) %>
    </div>
</div>
