<!DOCTYPE html>
<html lang="en">
    <div class="jumbotron" id="divHome">
        <h1>Salesforce OAuth Flows</h1>
        <h2>
            by
            <a href="https://www.linkedin.com/in/nicolas-vanden-bossche"> Nicolas Vanden Bossche </a>
        </h2>

        <div style="display: flex">
            <div style="width: 80%; float: left">
                <p>
                    This is a Node.js application with as sole purpose to practice and understand the different OAuth
                    flows for authorization on the Salesforce platform. The goal is to help others on their journey to
                    CTA (Certified Technical Architect) by providing them with a deeper understanding of Identity and
                    Access Management.
                </p>
                <p>
                    The navigation bar allows you to go the section of a specific flow. Each section will show you a
                    sequence diagram of that flow. By clicking the "Show/Hide Details" button you can read a more
                    detailed explanation of what is happening in the background. By clicking the "Production" or
                    "Sandbox" buttons, you can launch the authorization flow.
                </p>
                <p>
                    This application is based on a template by
                    <a href="https://jitendrazaa.com/"> Jitendra Zaa </a>
                    and inspired by conversations with and diagrams by
                    <a href="https://cloudsundial.com/about-me"> Lawrence Newcombe </a>.
                </p>
            </div>
            <div style="width: 20%; float: right">
                <img style="height: inherit" src="Salesforce.png" />
            </div>
        </div>
    </div>
</html>
