<!DOCTYPE html>
<html lang="en">
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#divHome">Home</a>
                    </li>
                    <li>
                        <a href="#userAgentFlow">User Agent</a>
                    </li>
                    <li>
                        <a href="#webServer">Web Server</a>
                    </li>
                    <li>
                        <a href="#refreshToken">Refresh Token</a>
                    </li>
                    <li>
                        <a href="#jwt">JWT</a>
                    </li>
                    <li>
                        <a href="#samlBearerAssertion">SAML Bearer Assertion</a>
                    </li>
                    <li>
                        <a href="#samlAssertion">SAML Assertion</a>
                    </li>
                    <li>
                        <a href="#deviceFlow">Device Authentication Flow </a>
                    </li>
                    <li>
                        <a href="#usernamePassword">Username Password</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</html>
