<!DOCTYPE html>
<html lang="en">
    <div class="jumbotron" id="usernamePassword">
        <div>
            <h2>OAuth 2.0 Username-Password Flow</h2>
            <figure>
                <img
                    class="authdiagram"
                    src="https://cloudsundial.com/sites/default/files/2020-05/Password%203000.png"
                />
                <figcaption>Username-Password flow diagram - created by Lawrence Newcombe</figcaption>
            </figure>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#upCollapse">
                Show/Hide Details
            </button>

            <div id="upCollapse" class="collapse">
                <ol class="smallFont">
                    <li>
                        This section covers the
                        <a
                            href="https://help.salesforce.com/articleView?id=remoteaccess_oauth_username_password_flow.htm&type=5"
                        >
                            OAuth 2.0 Username-Password flow
                        </a>
                    </li>
                    <li>
                        Enter username and password in the below form. Make sure to paste your security token after the
                        password or to specify login IPs on your user profile. Attention: This is not secure! Don't use
                        critical credentials, instead use a Trailhead Playground!
                    </li>
                    <li>
                        Upon clicking the button, username and password are sent to the token endpoint via POST method,
                        using the following parameters:
                        <ul>
                            <li><code>grant_type=password</code></li>
                            <li><code>client_id=<%= clientId %></code></li>
                            <li><code>username=&lt;Username&gt;</code></li>
                            <li><code>password=&lt;Password&gt;</code></li>
                            <li>
                                <code>client_secret=<%= clientSecret %></code>
                            </li>
                        </ul>
                    </li>

                    <li>Salesforce checks the username, password, client ID and client secret.</li>
                    <li>
                        Access token gets returned and callback function processes and stores access token for use.
                        Following parameters are returned:
                        <ul>
                            <li><code>token_type=Bearer</code></li>
                            <li><code>access_token=&lt;Access Token&gt;</code></li>
                            <li>
                                <code>instance_url=<%= baseURL %></code>
                            </li>
                            <li><code>id=&lt;Identity URL&gt;</code></li>
                            <li><code>issued_at=...</code> (datetime at which the access token was issued)</li>
                            <li><code>signature=...</code> (client_secret key applied to id:issued_at - optional)</li>
                        </ul>
                    </li>
                    <li>Access token is used to query Salesforce.</li>
                    <li>
                        There are a few important scenarios to keep in mind where malicious actors can be involved:
                        <ol>
                            <li>
                                A malicious actor monitors web traffic and can read username and password in plain text.
                                This actor then abuses the credentials for malicious purposes.
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>

            <form action="/uPwd" method="POST" name="usernamepasswordFlow">
                <div class="form-group">
                    <label for="sfdcUsername">Salesforce Username </label>
                    <input
                        class="form-control"
                        name="sfdcUsername"
                        id="sfdcUsername"
                        type="text"
                        value="<%= username %>"
                    />

                    <label for="sfdcPassword">Salesforce Password </label>
                    <input class="form-control" name="sfdcPassword" id="sfdcPassword" type="password" value="" />
                    <small class="text-muted">Unless restricting by IP, paste security token after password</small>
                    
                    <br />
                    <button class="btn btn-primary btn-lg" type="submit" name="isSandbox" value="false">
                        Production
                    </button>
                    <button class="btn btn-primary btn-lg" type="submit" name="isSandbox" value="true">Sandbox</button>
                </div>
            </form>
        </div>
    </div>
</html>
