<div class="wizard">
    <ul class="wizard-steps">
        <li data-target="#step1" class="active">
            <span class="step">1</span>
            <span class="title">Connected App</span>
        </li>
        <li data-target="#step2">
            <span class="step">2</span>
            <span class="title">Exchange Auth Code</span>
        </li>
        <li data-target="#step3">
            <span class="step">3</span>
            <span class="title">Run Query</span>
        </li>
        <li data-target="#step4">
            <span class="step">4</span>
            <span class="title">Success!</span>
        </li>
    </ul>
</div>
<div class="step-content">
    <div class="step-pane row active" id="step1">
        <div class="alert alert-info" role="alert">
            Create a Connected App in your Dev Org.
        </div>
        <div class="alert alert-danger" style="display: none">Unexpected error. Please try again later.</div>
        <div class="field-box">
            <div class="col-md-12">
                <label>Login Host</label>
                <input
                    class="form-control inline-input"
                    id="login_host"
                    value="<%= baseURL %>"
                    type="text"
                />
            </div>
        </div>
        <div class="field-box">
            <div class="col-md-12">
                <label>Client ID</label>

                <input
                    class="form-control inline-input"
                    id="client_id"
                    type="text"
                    value="<%= clientId %>"
                />
            </div>
        </div>
        <div class="field-box">
            <div class="col-md-12">
                <label>Client Secret</label>

                <input
                    class="form-control inline-input"
                    id="client_secret"
                    type="text"
                    value="<%= clientSecret %>"
                />
            </div>
        </div>
        <div class="field-box">
            <div class="col-md-12">
                <label>Redirect URI (Callback URL)</label>
                <input
                    class="form-control inline-input"
                    id="callback_url"
                    readonly="readonly"
                    type="text"
                    value="<%= callbackURL %>"
                />
            </div>
        </div>
    </div>
    <div class="step-pane row" id="step2">
        <div class="field-box">
            <div class="col-md-12">
                <label>Authorization Code</label>
                <input
                    class="form-control inline-input"
                    id="code"
                    value="aPrxHstICvfqxw3z7JcpzRkgdro2X8ykHg9JBR_D8aOZoQFNTWR5j9_OU4UXGMlRVi1tLXsmDA=="
                    type="text"
                />
            </div>
        </div>
    </div>
    <div class="step-pane row" id="step3">
        <div class="field-box">
            <div class="col-md-12">
                <label>Access Token</label>
                <input
                    class="form-control inline-input"
                    id="access_token"
                    value="00D24000000I77v!AQ8AQHoJFUiCfCZrYwYoIpVeAGXxMP2McRMvgZXQMvtmWGpGxNeitXJQ2Rpp.kaNFZknEbU7mer9BJFPkCF4fpvpNes9.4kI"
                    type="text"
                />
            </div>
        </div>
        <div class="field-box">
            <div class="col-md-12">
                <label>ID Token</label>
                <textarea class="form-control" rows="12">
                    {
                        "at_hash": "CMuFZfqNxI_esh9GhiIBHg",
                        "aud": "3MVG99OxTyEMCQ3gXuX31lysX3RQP4.Vj3EVzlMsVbxFvUe7VjZ0WcjWvGlAU7BPJFZBSyBGPiGyHhojZ2BE3",
                        "exp": 1677438421,
                        "iat": 1677438301,
                        "iss": "https://login.salesforce.com",
                        "sub": "https://login.salesforce.com/id/00D24000000I77vEAC/00524000000QgrlAAC"
                    }
                </textarea>
            </div>
        </div>
        <div class="field-box">
            <div class="col-md-12">
                <label>Audience Matches Client ID : true</label>
            </div>
        </div>
    </div>
    <div class="step-pane row" id="step4">
        No wonder thou wert victorious. I shalt abdicate.
    </div>
</div>
<div class="wizard-actions">
    <button type="button" class="btn btn-sm btn-primary hidden" id="previous-button" onclick="prev()">
        <i class="fa-solid fa-chevron-left"></i> 
        Prev
    </button>
    <button type="button" class="btn btn-sm btn-primary" id="next-button" onclick="next()" data-last="Finish" style="display: inline-block;">
        Next 
        <i class="fa-solid fa-chevron-right"></i>
    </button>
    <button type="button" class="btn btn-sm btn-primary success btn-finish">
        Validate!
    </button>
</div>
