<div id="request" class="form-floating row my-4">
    <textarea class="form-control" placeholder="Leave a comment here" wrap="on" readonly>HTTP/1.1 302 Found
Location:https://login.salesforce.com/services/oauth2/authorize?client_id=3MVG99OxTyEMCQ3gXuX31lysX3RQP4.Vj3EVzlMsVbxFvUe7VjZ0WcjWvGlAU7BPJFZBSyBGPiGyHhojZ2BE3&redirect_uri=https%3A%2F%2Fopenidconnect.herokuapp.com%2Fcallback&response_type=code&state=shns3f12fjqg96ujir6lqcm5no</textarea>
    <label>Request</label>
</div>
<div id="response" class="form-floating row my-4">
    <textarea class="form-control" placeholder="Leave a comment here" wrap="on" readonly>GET /callback?code=aPrxHstICvfqxw3z7JcpzRkgdqNIh6cCZsdh_PpWGhtXc3BNcl8Bhb5n75sfkOQkNNPluiZdCg== HTTP/1.1
Host: openidconnect.herokuapp.com</textarea>
    <label>Response</label>
</div>