<form action="/username-password" method="POST" name="usernamepasswordFlow">
    <div class="form-group">
        <label for="sfdcUsername">Salesforce Username </label>
        <input
            class="form-control"
            name="sfdcUsername"
            id="sfdcUsername"
            type="text"
            value="<%= username %>"
        />

        <label for="sfdcPassword">Salesforce Password </label>
        <input class="form-control" name="sfdcPassword" id="sfdcPassword" type="password" value="" />
        <small class="text-muted">Unless restricting by IP, paste security token after password</small>

        <br />
        <button class="btn btn-primary btn-lg" type="submit" name="isSandbox" value="false">
            Production
        </button>
        <button class="btn btn-primary btn-lg" type="submit" name="isSandbox" value="true">Sandbox</button>
    </div>
</form>