<main class="container">
    <form>
        <div class="mb-3">
            <label class="form-label" for="queryToExecute">Query to execute</label>
            <input
                type="text"
                id="queryToExecute"
                name="queryToExecute"
                placeholder="Select Id, Name From Account"
                class="form-control input-md"
                value="Select Id, Name From Account LIMIT 10"
                aria-describedby="queryHelp"
            />
            <div id="queryHelp" class="form-text">Press enter to execute query.</div>
        </div>
    </form>
    <div class="card">
        <pre id="result" class="card-body"></pre>
    </div>
</main>
