<li>
    Salesforce requests the user to log in and authorize the Connected App for the selected OAuth 
    scopes. If the credentials are incorrect or the user declines the authorization, the flow
    fails. Otherwise it continues to the next step.
</li>