<ul>
    <li>
        Authorization code
    </li>
    <li>
        Code verifier
    </li>
    <li>
        Client id
    </li>
    <li>
        Client secret
    </li>
    <li>
        Redirect uri - if it matches with the
        redirect_uri specified in the Connected App
    </li>
</ul>